.title {
    color: blue;
}

.Polaris-TextStyle--variationPositive {
    color: red;
}

.tagStackSpacing,
.submitButtonMarginWrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.layoutSpacing {
    margin-top: 2rem;
}
